body{

    background-position:center;
      background-position:center;
     background-image: url(./1600w-JLofAI27pCg.jpg);
     color: rgb(255, 255, 255);
     background-size: cover;
     text-shadow: 5px 3px 1px rgb(3, 3, 3);    
 }
  .header{
     
     color: rgb(223, 223, 221);
     font-family: 'Sedgwick Ave', cursive;
     font-size: 20px;
      padding-top: 1px;
    
     text-shadow:100%;
      background-size: cover; 
 } 
 #result{
    color: black;
    text-shadow: 1px 3px white;
 }

 #result2{
    color: black;
    text-shadow: 1px 3px white;
 }
  
 
 .header>span>h1{
     text-transform: capitalize;
     text-shadow: 5px 5px  rgb(0, 0, 0);
     font-weight: bold;
     position: relative;
     animation: mymove 5s infinite;
 }
  .header>span >h1{
     animation-timing-function: linear;
    
 }
 
 @keyframes mymove {
     from {left: 0px;}
     to {left: 1400px;}
     
   } 
 
 p{
     text-align: center;
     font-size: 20px;
     font-size: 30px;
     font-family: 'Sedgwick Ave', cursive; 
      font-weight: bold;
 
 }
  label{
     font-size: x-large;
     font-family: 'Sedgwick Ave', cursive; 
     font-weight: bold; 
     text-transform: capitalize;  
 } 
 
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 .input{
     width:9em;
     height: 2em;
     margin-left: 1em;
     font-size: medium;
     border: 2px solid black; 
     border-radius: 10px;
     font-weight: bold;
     text-align: center;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
 }
 /* .input2{
     width:9em;
     height: 2em;
     margin-left: 1em;
     font-size: medium;
     border: 2px solid black; 
     border-radius: 10px;
     font-weight: bold; */
 
 .center{
 
     border: 2px solid rgb(0, 0, 0);
     opacity: 0.8;
     
     background-image:  url(./digital-art-wallpaper-3200x900_74.jpg) ;
   background-size: cover;
     border-radius: 10px;
     color: azure;
     text-shadow: 2px 1px rgb(7, 7, 7); 
     border-bottom-left-radius:200px ;
     border-bottom-right-radius:200px ;
     column-gap: 10px;
     margin: 10px;
     padding: 20px;
     margin-right: 350px;
     margin-left: 350px;
 }
 
 .on{
     margin-bottom: 20px;
 }
 
 button{
     margin-top: 20px;
     background-color: white;
     color:black;
     font-weight: bolder;
     border: 1px solid black;
     border-radius: 10px;
     font-size: x-large;
     font-family: 'Sedgwick Ave', cursive;
 }
 button:hover{
     background-color: rgb(255, 0, 0);
     color: bisque;
     cursor:crosshair;
     
 }
 .img{
     
     border: 0px;
     border-radius:30px;
     border-top-left-radius:150px ;
     border-top-right-radius:150px ;
 }
 .s-media{
   margin-top:20px ;
 }
 a{
    size: 50px;
    color: black;
   
 }
 a:hover{
    color: darkred;
 }
 center>h1{
    text-shadow: 5px 5px rgb(0, 0, 0);
    color: white;
    font-size: medium;
 }
 
    @media (max-width: 1024px) {
        .header {
          margin-top: 8em;
        }
      }
      @media (max-width: 924px) {
        .header{
          justify-content: space-between;
          padding: 10px 20px;
        }
      }
      @media (max-width: 787px) {
          body{
              height: 100%;
          }
      form{
          margin-bottom: 1em;
      }
        h1 {
          font-size: 2.5em;
          color: white;
          font-weight: bold;
          font-family: "Alkatra", cursive;
        }
        button {
          padding: 5px 10px;
          border-radius: 8px;
          border: none;
          font-weight: bold;
          transition: 0.3s;
          font-size: 1.1em;
          font-family: "Kanit", sans-serif;
        }
        .result {
          font-size: 1.5em;
        }
        .result2 {
          font-size: 1.3em;
        }
        
      }
      @media (max-width: 596px) {
          body{
              height: 100%;
          }
          .container {
              margin-bottom: 2em;
          }
        .results {
          font-size: 1.2em;
        }
        .result2 {
          font-size: 1.2em;
        }
       
      }
   

 

 
 
